.sidebar{
    &[data-color="white"]:after{
        @include icon-gradient(#788296, rgba(rgb(8, 41, 80),.7));
    }
    .logo-img img {
      max-width: 80px;
      max-height: 80px;
    }
}

@media (max-width: 991px){
  .sidebar .nav > li.active.active-pro {
    position: relative;
    bottom: unset;
  }
}

#bodyClick {
  position: absolute;
}
